---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.minion.name | default  .Release.Name }}-settings
data:
  minion-config.yaml: |
    id: {{ .Values.minion.name | default .Release.Name }}
    location: {{ .Values.minion.location }}

    system:
     properties:
      org.opennms.instance.id: {{ .Values.core.instanceID }}
    ipc:
     kafka:
      bootstrap.servers: {{ .Values.minion.kafkaBroker.address }}
      {{- if or (.Values.truststore.content) (and .Values.minion.kafkaBroker.username .Values.minion.kafkaBroker.password) }}
      security.protocol: SASL_SSL
      sasl.mechanism: SCRAM-SHA-512
      sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="{{.Values.minion.kafkaBroker.username}}" password="{{.Values.minion.kafkaBroker.password}}";
      {{- end }}

    netmgt:
     syslog:
      syslog.listen.interface: "0.0.0.0"
      syslog.listen.port: 1514
     traps:
      trapd.listen.interface: "0.0.0.0"
      trapd.listen.port: 1162
    karaf:
     shell:
      ssh:
       host: "0.0.0.0"
  