---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-settings
  namespace: {{ include "namespace" . }}
  labels:
    {{- include "core.labels" . | nindent 4 }}
data:
  TZ: {{ .Values.timezone | quote }}
  DOMAIN: {{ include "core.domain" . | quote }}
  POSTGRES_HOST: {{ .Values.dependencies.postgresql.hostname | quote }}
  POSTGRES_PORT: {{ .Values.dependencies.postgresql.port | quote }}
  POSTGRES_SSL_MODE: {{ .Values.dependencies.postgresql.sslmode | quote }}
  POSTGRES_SSL_FACTORY: {{ .Values.dependencies.postgresql.sslfactory | quote }}
  ENABLE_ALEC: {{ ((.Values.core).configuration).enableAlec | default "false" | quote }}
  ENABLE_ACLS: {{ ((.Values.core).configuration).enableAcls | default "false" | quote }}
  ENABLE_TELEMETRYD: {{ if gt ((.Values.sentinel).replicaCount|int) 0 }}"true"{{ else }}"false"{{ end }}
  ENABLE_CORTEX: {{ ((.Values.core).configuration).enableCortex | quote }}
  ENABLE_TSS_DUAL_WRITE: {{ ((.Values.core).configuration).enableTssDualWrite | quote }}
  ENABLE_GRAFANA: {{ if gt ((.Values.grafana).replicaCount|int) 0 }}"true"{{ else }}"false"{{ end }}
  {{- if .Values.multiTenant }}
  OPENNMS_INSTANCE_ID: {{ .Release.Name | quote }}
  {{- else }}
  OPENNMS_INSTANCE_ID: ""
  {{- end }}
  OPENNMS_SERVER: {{ include "namespace" . | printf "onms-core.%s.svc" | quote }}
  {{- if .Values.multiTenant }}
  OPENNMS_DBNAME: {{ printf "%s_opennms" .Release.Name | quote }}
  {{- else }}
  OPENNMS_DBNAME: "opennms"
  {{- end }}
  {{- if ((.Values.core).configuration).rras }}
  OPENNMS_RRAS: {{ join ";" .Values.core.configuration.rras }}
  {{- end }}
  OPENNMS_ETC_UPDATE_POLICY: {{ .Values.core.configuration.etcUpdatePolicy }}
  {{- if ((.Values.core).configuration).enableCortex }}
  CORTEX_WRITE_URL: {{ .Values.dependencies.cortex.writeUrl | quote }}
  CORTEX_READ_URL: {{ .Values.dependencies.cortex.readUrl | quote }}
  CORTEX_MAX_CONCURRENT_HTTP_CONNECTIONS: {{ .Values.dependencies.cortex.maxConcurrentHttpConnections | quote }}
  CORTEX_WRITE_TIMEOUT: {{ .Values.dependencies.cortex.writeTimeoutInMs | quote }}
  CORTEX_READ_TIMEOUT: {{ .Values.dependencies.cortex.readTimeoutInMs | quote }}
  CORTEX_METRIC_CACHE_SIZE: {{ .Values.dependencies.cortex.metricCacheSize | quote }}
  CORTEX_EXTERNAL_TAGS_CACHE_SIZE: {{ .Values.dependencies.cortex.externalTagsCacheSize | quote }}
  CORTEX_BULKHEAD_MAX_WAIT_DURATION: {{ .Values.dependencies.cortex.bulkheadMaxWaitDuration | quote }}
  {{- end }}
  {{- if ((.Values.dependencies).elasticsearch).hostname }}
  ELASTICSEARCH_SERVER: {{ printf "%s:%d" .Values.dependencies.elasticsearch.hostname (.Values.dependencies.elasticsearch.port | int) | quote }}
  ELASTICSEARCH_INDEX_STRATEGY_FLOWS: {{ .Values.dependencies.elasticsearch.configuration.flows.indexStrategy | quote }}
  ELASTICSEARCH_REPLICATION_FACTOR: {{ .Values.dependencies.elasticsearch.configuration.flows.replicationFactor | quote }}
  ELASTICSEARCH_NUM_SHARDS: {{ .Values.dependencies.elasticsearch.configuration.flows.numShards | quote }}
  {{- end }}
  {{- if ((.Values.dependencies).kafka).hostname }}
  KAFKA_BOOTSTRAP_SERVER: {{ printf "%s:%d" .Values.dependencies.kafka.hostname (.Values.dependencies.kafka.port | default "9092" | int) | quote }}
  KAFKA_SASL_MECHANISM: {{ .Values.dependencies.kafka.configuration.saslMechanism | quote }}
  KAFKA_SECURITY_PROTOCOL: {{ .Values.dependencies.kafka.configuration.securityProtocol | quote }}
  {{- end }}
  GRAFANA_SERVER: {{ include "namespace" . | printf "grafana.%s.svc" | quote }}
  {{- if eq (include "onOpenShift" .) "true" }}
  GF_SERVER_DOMAIN: {{ printf "grafana-%s" (include "core.domain" .) | quote }} # Should match FQDN on the Ingress
  GF_SERVER_ROOT_URL: ""
  {{- else }}
  GF_SERVER_DOMAIN: {{ printf "grafana.%s" (include "core.domain" .) | quote }} # Should match FQDN on the Ingress
  GF_SERVER_ROOT_URL: "/"
  {{- end }}
  GF_DATABASE_TYPE: "postgres"
  {{- if .Values.multiTenant }}
  GF_DATABASE_NAME: {{ printf "%s_grafana" .Release.Name | quote }}
  {{- else }}
  GF_DATABASE_NAME: "grafana"
  {{- end }}
  GF_DATABASE_SSL_MODE: {{ (((.Values.grafana).configuration).database).sslmode | default "disable" | quote }}
  GF_DATABASE_CA_CERT_PATH: "/etc/java/jks/postgresql-ca.crt"
  GF_SESSION_PROVIDER: "postgres"
  ON_OPENSHIFT: {{ if eq (include "onOpenShift" .) "true" }}"true"{{ else }}"false"{{ end }}
